.chart-series-line{
    -fx-stroke-width: 1px;
    -fx-stroke:#eedede;
    -fx-effect: null;
}
.chart-vertical-grid-lines {
    -fx-stroke: #cccccc;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #cccccc;
}